.cart {
  width: 85%;
  height: 270px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 12px;
  padding-top: 5px;
}
.cart-title {
  text-align: center;
}
.icon {
  margin-right: 4px;
}
.table {
  text-align: start;
  font-size: 14px;
}
.grand-total {
  font-size: 1.4em;
  font-weight: 600;
  color: brown;
  margin-top: 25px;
}
