.shopping-cart {
  width: 250px;
  height: 280px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  margin-left: 30px;
  position: fixed;
}
/* .shoppingcart-title {
  text-align: center;
} */
.icon {
  margin-right: 4px;
}
.cart-table {
  text-align: start;
  font-size: 14px;
}
.grand-total {
  font-size: 1.4em;
  font-weight: 600;
  color: brown;
  margin-top: 25px;
}
.shopping-cart td {
  padding-right: 10px;
}
.review-btn {
  margin: 8px;
}
