.single-product {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(209, 207, 207);
  padding-bottom: 5px;
  margin-right: 8px;
}
.product-img {
  margin-right: 30px;
}

.product-name {
  font-weight: 600;
  color: rgb(29, 23, 71);
}
.rating {
  margin-bottom: 5px;
}
.icon-color {
  color: #ffa534;
}
