.img-container img {
  height: 70px;
}
.img-container {
  text-align: center;
}
.navbar {
  background-color: rgb(7, 3, 46);
  height: 23px;
  padding: 6px 40px;
  margin-top: 10px;
}
.navbar a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  font-size: 1.1rem;
  padding: 6px 5px;
  transition: all 0.2s ease-out;
}
.navbar a:hover {
  background-color: lightgray;
  color: rgb(46, 43, 43);
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 60px;
  background-color: rgb(22, 17, 61);
}
.search-bar input {
  outline: none;
  font-size: 1.3em;
  width: 75%;
  padding: 2px 5px;
  border-radius: 6px;
}
