.img-container img {
  height: 70px;
}
.img-container {
  text-align: center;
}
.navbar {
  background-color: rgb(7, 3, 46);
  height: 25px;
  padding: 6px 40px;
  margin-top: 10px;
}
.navbar .link {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  font-size: 1.1rem;
  padding: 6px 5px;
  transition: all 0.2s ease-out;
}
.navbar .link:hover {
  background-color: lightgray;
  color: rgb(46, 43, 43);
}
