.shipping-container {
  background-color: #eee;
  width: 100vw;
  height: 560px;
}
.shipping-field {
  background-color: #fff;
  box-sizing: border-box;
  width: 400px;
  height: 430px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.shipping-field input {
  width: 280px;
  display: block;
  margin: 15px 0;
  /* padding: 7px 10px;
  border: 2px solid rgb(143, 139, 139);
  border-radius: 9px;
  outline: none; */
}
