.review-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* grid-column-gap: 5px; */
  padding: 5px 180px;
}
.carts-container {
  border-right: 1px solid lightgray;
}
.product-price {
  font-weight: 600;
  color: brown;
}
