@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");
* {
  font-family: "Lato", sans-serif;
}
body {
  margin: 0;
}

.btn-regular {
  width: 175px;
  background-image: linear-gradient(#fcc63d, #ffdf8f);

  border: 1px solid rgb(153, 153, 156);
  border-radius: 4px;
  padding: 1px 0;
  margin: 10px 0;
  cursor: pointer;
}
.form-btn {
  width: 310px;
  background-image: linear-gradient(#fcc63d, #ffdf8f);

  border: 1px solid rgb(153, 153, 156);
  border-radius: 4px;
  padding: 4px 0;
  margin: 10px 0;
  cursor: pointer;
}
